/* FontAwesome link */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css);

/* Base css */
@import url(base/reset.css);
@import url(base/var.css);
@import url(base/typography.css);

/* Layout css */
@import url(layout/page-nav.css);
@import url(layout/hero.css);
@import url(layout/main.css);
@import url(layout/main-nav.css);
@import url(layout/infobox.css);
@import url(layout/footer.css);
@import url(layout/style.css);

/* Font families */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
  font-family: 'jjk-heading';
  src:  url('../assets/fonts/jujutsu-heading.ttf') format('truetype');
}
@font-face {
  font-family: 'jjk-subheading';
  src:  url('../assets/fonts/jujutsu-subheading.ttf') format('truetype');
}
