.infobox{
    border: 2px solid var(--accent-clr);
    margin: 0.5rem 0rem 2rem;
    min-width: 250px;
    border-radius: 10px;
    padding: 15px;
    @media(min-width: 1080px){
        margin: 0.5rem 3rem 2rem;
        
        min-width: 350px;
        max-width: 350px;
    }
}

.infobox img{
    margin: 15px 0;
    border-radius: 10px;
}

.infobox-bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 5px;
}

.infobox-info{
    display: flex;
    gap: 15px;
    line-height: 1.2;
}

.info-left{
    flex: 1;
    text-align: end;
}

.info-right{
    flex: 1.5;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-right-gender{
    flex-direction: row;
}

.gender-symbol{
    transform: translateY(3px);
}